#background {
  background: linear-gradient(-45deg, magenta, blue, pink, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin-top: 25px;
  margin-bottom: 125px;
  margin-right: 250px;
  margin-left: 250px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bigtext {
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
  font-size: 150%;
}

#title {
  font-family: "Audiowide", sans-serif;
  color: whitesmoke;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  font-size: 300%;
}
